<div class="list size-max grid grid-cols-2 gap-3">
	{{#each user.favorites}}
	<section class="size-full bg-teal-500 rounded-lg p-3 hover:bg-teal-400">
		<div class="landmark-wrapper grid justify-items-center mb-4" data-country="{{landmark_name}}">
			<p class="text-xl">{{landmark_name}}</p>
			<img src="" class="rounded-lg">
		</div>
		<p>Country: {{country_name}}</p>
		<p>State: {{state_name}}</p>
		<p>City: {{city_name}}</p>
		<form class="flex flex-col" action="/remove" method="POST">
			<button class="bg-white text-black rounded-md my-2 py-1">Delete</button>
		</form>
	</section>
	{{/each}}
</div>


<script src="/js/list.js"></script>
